@tailwind base;
@tailwind components;
@tailwind utilities;


/* Rich text editor styles */
.ProseMirror h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.ProseMirror h2 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.ProseMirror h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.ProseMirror p {
    margin: 1rem 0;
    color: #e5e7eb;
}